.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container__title {
    color: #5c2c4b;
    margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 36px;}